:root {
    
    /* RED */
    --r-500: #BF2600; 
    --r-400: #DE350B; 
    --r-300: #FF5630; 
    --r-200: #FF7452; 
    --r-100: #FF8F73; 
    --r-75: #FFBDAD; 
    --r-50: #FFEBE6; 


    /* YELLOW */
    --y-500: #FF8B00;
    --y-400: #FF991F;
    --y-300: #FFAB00;
    --y-200: #FFC400;
    --y-100: #FFE380;
    --y-75: #FFF0B3;
    --y-50: #FFFAE6;


    /* GREEN */
    --g-500: #006644;
    --g-400: #00875A;
    --g-300: #36B37E;
    --g-200: #57D9A3;
    --g-100: #79F2C0;
    --g-75: #ABF5D1;
    --g-50: #E3FCEF;


    /* TEAL */
    --t-500: #008DA6;
    --t-400: #00A3BF;
    --t-300: #00B8D9;
    --t-200: #00C7E6;
    --t-100: #79E2F2;
    --t-75: #79E2F2;
    --t-50: #E6FCFF;


    /* BLUE */
    --b-500: #0747A6;
    --b-400: #0052CC;
    --b-300: #0065FF;
    --b-200: #2684FF;
    --b-100: #4C9AFF;
    --b-75: #B3D4FF;
    --b-50: #DEEBFF;


    /* PURPLE */
    --p-500: #403294;
    --p-400: #5243AA;
    --p-300: #6554C0;
    --p-200: #8777D9;
    --p-100: #998DD9;
    --p-75: #998DD9;
    --p-50: #EAE6FF;


    /* NEUTRAL (LIGHT) */
    --n-900: #091E42;
    --n-800: #172B4D;
    --n-700: #253858;
    --n-600: #344563;
    --n-500: #42526E;
    --n-400: #505F79;
    --n-300: #5E6C84;
    --n-200: #6B778C;
    --n-100: #7A869A;
    --n-90: #8993A4;
    --n-80: #97A0AF;
    --n-70: #A5ADBA;
    --n-60: #B3BAC5;
    --n-50: #C1C7D0;
    --n-40: #DFE1E6;
    --n-30: #EBECF0;
    --n-20: #F4F5F7;
    --n-10: #FAFBFC;
    --n-0: #FFFFFF;


    /* NEUTRAL (LIGHT-ALPHA) */
    --na-900: #091E42;
    --na-800: #091E42F2;
    --na-700: #091E42E3;
    --na-600: #091E42D1;
    --na-500: #091E42C4;
    --na-400: #091E42B5;
    --na-300: #091E42A8;
    --na-200: #091E4299;
    --na-100: #091E428A;
    --na-90: #091E427A;
    --na-80: #091E426B;
    --na-70: #091E425C;
    --na-60: #091E424F;
    --na-50: #091E4240;
    --na-40: #091E4221;
    --na-30: #091E4214;
    --na-20: #091E420A;
    --na-10: #091E4205;

    /* NEUTRAL (DARK - SHADOW - ALPHA)*/   
    --nsa-900: #090A0B;
    --nsa-800: #090A0BDE;
    --nsa-700: #090A0BF2;
    --nsa-600: #090A0BEB;
    --nsa-500: #090A0BE3;
    --nsa-400: #090A0BD9;
    --nsa-300: #090A0BCF;
    --nsa-200: #090A0BCF;
    --nsa-100: #090A0BBA;
    --nsa-90: #090A0BA1;
    --nsa-80: #090A0B87;
    --nsa-70: #090A0B78;
    --nsa-60: #090A0B66;
    --nsa-50: #090A0B5C;
    --nsa-40: #090A0B4A;
    --nsa-30: #090A0B2E;
    --nsa-20: #090A0B24;
    --nsa-10: #090A0B0F;
}

.dark:root {
    /* NEUTRAL (DARK)*/
    --n-900: #D9DDE3;
    --n-800: #C7CED6;
    --n-700: #B5BEC9;
    --n-600: #A3AEBD;
    --n-500: #929FB0;
    --n-400: #8392A5;
    --n-300: #718298;
    --n-200: #65758B;
    --n-100: #5A697C;
    --n-90: #515F70;
    --n-80: #475262;
    --n-70: #3F4855;
    --n-60: #373F49;
    --n-50: #2F353D;
    --n-40: #262B31;
    --n-30: #202328;
    --n-20: #17191C;
    --n-10: #101213;
    --n-0: #090A0B;


     /* NEUTRAL (DARK - SHADOW - ALPHA)*/   
     --nsa-900: #090A0B;
     --nsa-800: #090A0BDE;
     --nsa-700: #090A0BF2;
     --nsa-600: #090A0BEB;
     --nsa-500: #090A0BE3;
     --nsa-400: #090A0BD9;
     --nsa-300: #090A0BCF;
     --nsa-200: #090A0BCF;
     --nsa-100: #090A0BBA;
     --nsa-90: #090A0BA1;
     --nsa-80: #090A0B87;
     --nsa-70: #090A0B78;
     --nsa-60: #090A0B66;
     --nsa-50: #090A0B5C;
     --nsa-40: #090A0B4A;
     --nsa-30: #090A0B2E;
     --nsa-20: #090A0B24;
     --nsa-10: #090A0B0F;


     /* NEUTRAL (DARK - ALPHA)*/   
     --na-900: #D9DDE3;
     --na-800: #D9DDE3F7;
     --na-700: #D9DDE3F2;
     --na-600: #D9DDE3EB;
     --na-500: #D9DDE3E3;
     --na-400: #D9DDE3D9;
     --na-300: #D9DDE3CF;
     --na-200: #D9DDE3C7;
     --na-100: #D9DDE3BA;
     --na-90: #D9DDE3A1;
     --na-80: #D9DDE387;
     --na-70: #D9DDE378;
     --na-60: #D9DDE366;
     --na-50: #D9DDE35C;
     --na-40: #D9DDE34A;
     --na-30: #D9DDE32E;
     --na-20: #D9DDE324;
     --na-10: #D9DDE30F;

}